<html>
    <head>
        <link rel="stylesheet" href="./css/style.css">
        <title>Error-404</title>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
        </div>
        
        {{>footer}}
    </body>
</html>